body{
	padding: 0;
	margin: 0;
	color: #5a5a5a;
}
/*footer{ position:relative; }*/
/* -------------------------- Barra de Navegacion -------------------------- */
.image{
    padding: 0;
    margin: 0;
    width: 455px;
    height: 600px;
    float: left;
	display: block;
}
/* -------------------------- RESPONSIVE -------------------------- */

